# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos CSV, se quiser ignorar (se os dados não forem para o repo)
# data/
# data/processed/

# VSCode settings
.vscode/
